@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


body {
    background-color: #080808;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;   
    font-family: "Bebas Neue", sans-serif;
}

.box_register {
    margin-top: 200px;
    background-color: #1a1a1a; 
    padding: 60px;
    border-radius: 10px;
    width: 400px;        
    box-shadow: 0 15px 25px rgba(0,0,0,0.5); 
    text-align: center;
    border-top: 5px solid #e50914; 
}


.input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    box-sizing: border-box; 
}


.contact_button{
    margin-top: 20px;

    background-color: #e50914;
    border: none;
    padding-bottom: 10px;  
    padding-top: 10px;     
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    border-radius: 3px;

    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    border-radius: 4px;
    transition: tranform 0.3s ease;
}

.contact_button:hover {
    background-color: #b20710;
    transform: scale(1.05);
}


h3{
    color: #fff;  
    font-size: 40px;    
    font-family: "Bebas Neue", sans-serif;
}

p{
    color: #fff;   
    font-family: "Martel Sans", sans-serif;
    font-size: 25px;
}

