@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


body{
    background-color: #080808;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    margin-left: 5%;
    margin-right: 5%;
}

/* Accueil */


div.Titlesite{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    color: white;
    background-color: #030303;
    z-index: 10;
}

h1.Title{
    font-size: 220px;
    color: #e50914;   
    margin: 0;       
    line-height: 1;
}

h2{
    color: #e50914;
    text-align: center;
}

.slogan{
    font-size: 25px;
    margin: 0;
}

.nav_bar{
    align-items: flex-end; 

}

li{
    display: inline-block;
    align-items: flex-end; 
    
}

a.button_navbar{
    text-decoration: none;
    display: flex;
    align-items: flex-end; 
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    font-size: 25px;
    transition: tranform 0.3s ease;
    
}


a.button_navbar:hover{
    color: #dddddd;
    transform: scale(1.05);
}


p{
    color: #f5f2ed;   
    font-family: "Martel Sans", sans-serif;
    font-size: 25px;
}

h3{
    color: #f5f2ed;  
    font-size: 40px;    
    font-family: "Bebas Neue", sans-serif;
}

.Affiche{
    display: inline-block;
    align-items: flex-end; 
    padding: 50px;
}

.Affiche img{
    height: 280px;
    width: 200px;
    border-radius: 10px;
    transition: tranform 0.3s ease;
    opacity: 1;
}

.Affiche img:hover{
    transform: scale(1.05);
}


.recommandation {
    position: relative;
    background: url('fond_recommandation.png') center / cover no-repeat;
}

.recommandation::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.recommandation > * {
    position: relative;
    z-index: 1;
}

.recommandation h1{
    color: #f5f2ed;
    padding-left: 25px;
    padding-top: 25px;
    font-size: 40px;   
}


.presentation_texte{
    border-left: solid #e50914;
    padding-left: 15px;
    background-color: #0F0F0F;
    border-radius: 10px;
    height: 100%;
    width: 75%;
}
 

hr{
    border: 1px solid #1a1a1a;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

.footer a{
    font-size: 50px;
    margin: 20px;
    color: #E50914;
    text-decoration: none;
}

.footer-text {
    width: 50%;
    font-size: 10px;
    display: flex;
    flex-direction: column; 
}

.footer-text a {
    width: fit-content;
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer-text a:hover{
    transform: scale(1.05);
}


.footer-icones{
    width: 50%;
}

.footer-icones i{
    transition: tranform 0.3s ease;
}

.footer-icones i:hover{
    transform: scale(1.05);
}

footer{
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #0F0F0F;
    border-top: 1px solid #1a1a1a;
    padding: 2rem 3rem;
    text-align: center;
    font-size: 0.78rem;
    color: #AAAAAA;
}

footer h1{
    font-size: 50px;
    color: #E50914;
}

.sous-text-footer{
    font-size: 15px;
    opacity: 0.5;
}


/* Page Film */

.Titlefilm{
    font-size: 100px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.Box_film{
    background-color: #030303; /* ou #1a1a1a */
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    margin-left: 30px;
    margin-bottom: 3px;
    margin-left: 5%;
    margin-right: 5%;
    

}

.synopsis{
    padding-left: 25px;
    padding-top: 25px;
    width: 50%;
    height: 500px;
}
.texte_synopsis{
    color: #f5f2ed;
    font-size: 22px;
    font-family: "Google Sans Flex", sans-serif;
}

.img_box_film{
    padding-left: 25px;
    padding-top: 25px;
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}

.img_box_film img{
    width: 80%; 
    border-radius: 10px;

}

.img_box_film a{
    background-color: #f5f2ed;
    width: 300px;        
    height: 80px;     
    border-radius: 10px;
    text-decoration: none;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    color: #030303;

    transition: tranform 0.3s ease;
}

.img_box_film a:hover{
    background-color: #dddddd;
    transform: scale(1.05);
}


.background_img_film {
    position: relative;
    padding-bottom: 100px;

}

.background_img_film::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
}

.background_img_film > * {
    position: relative;
    z-index: 1;
}

/* contact btn */ 

.contact_button {
    background-color: #e50914;
    color: #f5f2ed;
    border: none;

    padding-bottom: 10px;  
    padding-top: 10px;     
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    
    border-radius: 4px;
    transition: tranform 0.3s ease;
}

.contact_button:hover {
    background-color: #b20710;
    transform: scale(1.05);
}

.content_caché {
    display: none;
    margin-top: 15px;
    color: #f5f2ed;
    background: #0F0F0F;
    padding: 15px;
    border-left: solid #E50914;
    font-style: italic;
    border-radius: 10px;
}



/* film */

.affiche_catalogue{
    background: url('affiche_catalogue.png');
    position: relative;
    height: 500px;
}

.affiche_catalogue::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.affiche_catalogue > *{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}


.hidden_categorie{
    background-color: #0F0F0F;
    display: none;
    border-left: solid #E50914;
    padding-left: 10px;
    border-radius: 10px;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

select {
    font-family: "Bebas Neue", sans-serif;
    background-color: #252525;
    border-radius: 8px;
    border-color: #030303;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    color: #f5f2ed;
    cursor: pointer;
    outline: none;

    transition: tranform 0.3s ease;
}

select:hover {
    border-color: #E50914;
    transform: scale(1.05);
}


/* Conditions d'utilisation */

.first_warning{
    width: 45%;
    margin-left: 5%;

    border-left: solid #e50914;
    border-radius: 10px;
    background-color: #120000;
    
    padding-left: 15px;
    padding-bottom: 0.2px;
}

.warning{
    width: 45%;
    margin-left: 5%;

    border-left: solid #e50914;
    border-radius: 10px;
    background-color: #020000;
    
    padding-left: 15px;
    padding-bottom: 0.2px;
}

.liste{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10;
}

ul.liste li {
    padding: 0.4rem 0;
    padding-left: 1.4rem;
    position: relative;
    font-family: 'arial', serif;
    font-size: 1rem;
    color: #E50914;
}

ul.liste li::before {
    position: absolute;
    left: 0;
    font-size: 0.8rem;
    top: 0.5rem;
}

.article{
    padding-top: 20px;
    margin-bottom: 5%;
}

.article h2 {
    color: #e50914;
    text-align: left;
    font-size: 40px;
    margin-left: 5px;
}

.article h3{
    font-size: 40px;
}

.text_article_conditionsut{
    margin-left: 10px;
}

/* Mention légales */

.tableau {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #0F0F0F;
    border: 1px solid #1a1a1a;
    border-radius: 8px;

    color: #f5f2ed;
}

.info_tableau{
    background: #0F0F0F;
    padding: 1rem 1.25rem;
}

.label {
    font-size: 15px;
    color: var(--gris-texte);
    font-family: 'Syne', sans-serif;
  }